.Tour {
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    /* filter: grayscale(100%); */
}

.Tour:hover {
    background-color: #f87171;
    transform: translateY(-20px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    box-shadow: 0px 11px 28.9px 0px rgba(186, 156, 66, 0.26);
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.gradient-text-tour-dates {
    background: linear-gradient(183deg, #FDE497 20.49%, #E3A455 36.41%, #8F653B 54.16%, #BA7F3B 62.8%, #EEBC70 74.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.Tour .bg-dancersPiramid {
    transition: filter 0.3s ease;
}

.Tour:hover .bg-dancersPiramid {
    filter: grayscale(0%);
}

/* Disable hover effects on mobile devices and ensure elements are colorful */
@media (max-width: 768px) {
    .Tour:hover {
        background-color: initial;
        transform: none;
        background: none;
        box-shadow: none;
        filter: none;
        -webkit-filter: none;
    }
    .Tour .bg-dancersPiramid,
    .Tour:hover .bg-dancersPiramid {
        filter: none;
        -webkit-filter: none;
    }
    .Tour {
        filter: none;
        -webkit-filter: none;
    }

}
